<h3>商品一覧</h3>

  <table>
    <tbody>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th colspan="2">税抜価格</th>
        <th>ジャンル</th>
      </tr>
    </tbody>
  </table>
  
  <%= paginate @items %>