
<table>
    <tbody>
        <tr>
            <td><h2>商品一覧</h2></td>
            <th><h4>(全<%= @total_item %>件)</h4></th>
        </tr>
            <% @items.each do |item| %>
        <tr>
            <td><%= image_tag item_image, size: "20x20" %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
        </tr>
        <% end %>
    </tbody>
</table>

